.comics {
    &__grid {
        display: grid;
        @media screen and (min-width: 1900px){
            grid-template-columns: repeat(4, 200px);
        }
        @media screen and (max-width: 1900px){
            grid-template-columns: repeat(3, 200px);
        }
        row-gap: 55px;
        column-gap: 25px;
    }
    &__item {
        transition: 0.3s transform;
        &-img {
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
            width: 200px;
            height: 306.67px;
        }
        &-name {
            margin-top: 10px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
        }
        &-price {
            margin-top: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            color: rgba(0, 0, 0, 0.6);
            text-transform: uppercase;
        }
        &:hover {
            transform: translateY(-5px);
        }
    }
}